* {
    margin: 0;
    padding: 0;

}

section {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.cards {
    width: 300px;
    padding: 20px;
}

.cards:hover {
    box-shadow: 0 10px 10px 10px rgba(2, 2, 39, 0.1);
    cursor: pointer;
}

.image_box img {
    width: 150px;
    height: 200px;

}

.details p:nth-child(1) {
    font-weight: bold;
}

.details p:nth-child(2) {
    color: rgb(119, 111, 111);
    font-size: 0.8rem;
}

.details p:nth-child(3) {
    font-weight: bold;
    color: grey;
}

span {
    color: rgb(80, 77, 77);
    font-weight: bold;
}

button {
    float: right;
    margin-top: -40px;
}